@font-face {
    font-family: "Mandatory Plaything";
    src: url(MandatoryPlaything.otf);
}

* {
-fx-font-family: "Mandatory Plaything";
}

.label {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

#pageButton {
    -fx-font-size: 27px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-alignment: center;
}

#teleop {
    -fx-font-size: 72px;
    -fx-font-weight: bold;
}

#tinyLabels {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}


